RewriteEngine On
Options All -Indexes

DirectoryIndex index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*) http://localhost/ds2t20212/paulo1/Interagindo-com-BD/api/index.php?url=$1 [QSA,L]
